<h1>Customers</h1>@using QLKho_NCKH.Web.Startup
@using QLKho_NCKH.Web.Models.Customers
@model CustomerViewModel
@{
  ViewBag.Title = L("Customers");
  ViewBag.CurrentPageName = PageNames.Customers;
}

@section scripts
{
  <environment names="Development">
    <script src="~/view-resources/Views/Customers/Index.js" asp-append-version="true"></script>
  </environment>

  @* <environment names="Staging,Production">
        <script src="~/view-resources/Views/Customers/Index.min.js" asp-append-version="true"></script>
    </environment> *@
}

<section class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h1>@L("Customers")</h1>
      </div>
      <div class="col-sm-6">
        <a href="javascript:;" data-toggle="modal" data-target="#CustomerCreateModal" class="btn bg-blue float-sm-right">
          <i class="fa fa-plus-square"></i>
          @L("Create")
        </a>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6">
                <!-- Optional search/filter controls can be added here -->
              </div>
              <div class="col-md-6">
                @* @await Html.PartialAsync("~/Views/Customers/Search.cshtml") *@
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="CustomersTable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>@L("Code")</th>
                    <th>@L("Name")</th>
                    <th>@L("Address")</th>
                    <th>@L("PhoneNumber")</th>
                    <th>@L("Email")</th>
                    <th>@L("TaxCode")</th>
                    <th>@L("IsActive")</th>
                    <th>@L("Actions")</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Data will be loaded via JavaScript -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@await Html.PartialAsync("~/Views/Customers/_CreateModal.cshtml", Model)

<div class="modal fade" id="CustomerEditModal" tabindex="-1" role="dialog" aria-labelledby="CustomerEditModalLabel" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!-- Edit modal content will be loaded here -->
    </div>
  </div>
</div>