@using Abp.Authorization.Users
@{
	ViewBag.Title = L("UpdatePassword");
}
@section scripts
{
	<environment names="Development">
		<script src="~/view-resources/Views/Users/ChangePassword.js" asp-append-version="true"></script>
	</environment>

	<environment names="Staging,Production">
		<script src="~/view-resources/Views/Users/ChangePassword.min.js" asp-append-version="true"></script>
	</environment>
}

<div class="container-fluid mt-3">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow-lg rounded">
				<div class="card-header text-center bg-primary text-white">
					<h4>@L("UpdatePassword")</h4>
				</div>
				<div class="card-body">
					<form id="ChangePassword" autocomplete="off" class="form-horizontal">
						<div class="form-group mb-3">
							<label for="CurrentPassword" class="form-label">@L("CurrentPassword")</label>
							<input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
						</div>
						<div class="form-group mb-3">
							<label for="NewPassword" class="form-label">@L("Password")</label>
							<input type="password" class="form-control" name="NewPassword" id="NewPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
						</div>
						<div class="form-group mb-3">
							<label for="ConfirmNewPassword" class="form-label">@L("ConfirmPassword")</label>
							<input type="password" class="form-control" name="ConfirmNewPassword" id="ConfirmNewPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
						</div>
						<div class="d-flex justify-content-between">
							<button type="submit" class="btn btn-primary save-button">@L("Save")</button>
							<a href="@Url.Action("InforUser", "Home")" class="btn btn-secondary">@L("Cancel")</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

