
@using Abp.Authorization.Users
@using QLKho_NCKH.Web.Models.Common.Modals
@using QLKho_NCKH.Web.Models.storageLocations
@model storageLocationListViewModel
@{
  Layout = null;
}
<div class="modal fade" id="ExportModal" tabindex="-1" role="dialog" aria-labelledby="ImportModalLabel" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewImportStorageLocation")))
      <form name="StorageLocationCreateForm" role="form" class="form-horizontal">
        <div class="modal-body">
          <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="create-supplier-details">
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Code")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Code" required maxlength="256">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("WarehouseName")</label>
                <div class="input-group">
                  <input type="text" id="WarehouseExportDisplay" class="form-control" readonly required />
                  <button type="button" id="CreateWarehouseExportBtn" class="btn btn-success btn-sm" title="@L("WarehouseName")">
                    <i class="fa fa-id-card"></i>
                  </button>
                </div>
                <input type="hidden" id="WarehouseIdExportCreate" name="WarehouseId" />
              </div>
              <!-- Số điện thoại -->
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Capacity")</label>
                <div class="col-md-9">
                  <input type="number" class="form-control" name="Capacity" required maxlength="20">
                </div>
              </div>

              <!-- Email -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("CurrentVolume")</label>
                <div class="col-md-9">
                  <input type="number" class="form-control" name="CurrentVolume" maxlength="256">
                </div>
              </div>
              <!-- Trạng thái hoạt động -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("IsAvailable")</label>
                <div class="col-md-9">
                  <input type="checkbox" name="IsAvailable" value="true" checked />
                </div>
              </div>
            </div>
          </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
      </form>
    </div>
  </div>
</div>
<style>
  .modal {
    z-index: 1050 !important;
  }

  .modal-backdrop {
    z-index: 1040 !important;
  }
</style>