@using Abp.Authorization.Users
@using QLKho_NCKH.Web.Models.Common.Modals
@using QLKho_NCKH.Web.Models.StockTransactions

@model StockTransactionListViewModel
@{
	Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Duyệt xuất kho hàng")))
<script src="~/view-resources/Views/StockTransactions/_EditModal.js" asp-append-version="true"></script>

<form name="StockTransactionExportForm" role="form" class="form-horizontal">
	<input type="hidden" name="Id" value="@Model.Id" />
	<div class="modal-body">
		<div class="tab-content mt-4">
			<div role="tabpanel" class="tab-pane container active" id="edit-stocktransaction-details">
				<!-- Mã giao dịch -->
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("TransactionCode")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="TransactionCode" value="@Model.TransactionCode" readonly maxlength="20">
					</div>
				</div>

				<!-- Loại giao dịch -->
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("TransactionType")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="TransactionType" value="@Model.TransactionType" readonly>
					</div>
				</div>

				<!-- Ngày giao dịch -->
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("TransactionDate")</label>
					<div class="col-md-9">
						<input type="text" class="form-control date-picker" name="TransactionDate" value="@Model.TransactionDate.ToString("dd/MM/yyyy")" readonly>
					</div>
				</div>
				<!--nhà cung cấp-->
				@* <div class="form-group row"> *@
				@* 	<label class="col-md-3 col-form-label">@L("CustomerName")</label> *@
				@* 	<div class="col-md-9"> *@
				@* 		<input type="text" class="form-control" value="@Model.CustomerName" readonly> *@
				@* 		<input type="hidden" name="ToWarehouseId" value="@Model.CustomerId"> *@
				@* 	</div> *@
				@* </div> *@
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("CustomerName")</label>
					<div class="col-md-9">
						<div class="input-group">
							<input type="text" id="CustomerDetailDisplay" value="@Model.CustomerName" class="form-control" readonly required />
							<div class="input-group-append">
								<button type="button" id="CustomerDetailBtn" class="btn btn-success" title="@L("CustomerName")">
									<i class="fa fa-user"></i>
								</button>
							</div>
						</div>
						<input type="hidden" id="CustomerDetail" name="CustomerDetail" />
					</div>
				</div>
				<!-- Kho nguồn -->
				@if (Model.FromWarehouseId != 0)
				{
					<div class="form-group row">
						<label class="col-md-3 col-form-label">@L("FromWarehouse")</label>
						<div class="col-md-9">
							<input type="text" class="form-control" value="@Model.FromWarehouseName" readonly>
							<input type="hidden" name="FromWarehouseId" value="@Model.FromWarehouseId">
						</div>
					</div>
				}
				@if (Model.ToWarehouseId != 0)
				{
					<div class="form-group row">
						<label class="col-md-3 col-form-label">@L("ToWarehouse")</label>
						<div class="col-md-9">
							<input type="text" class="form-control" value="@Model.ToWarehouseName" readonly>
							<input type="hidden" name="ToWarehouseId" value="@Model.ToWarehouseId">
						</div>
					</div>
				}

				<!-- Số tham chiếu -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label">@L("ReferenceNumber")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="ReferenceNumber" value="@Model.ReferenceNumber" readonly>
					</div>
				</div>

				<!-- Ghi chú -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label">@L("Note")</label>
					<div class="col-md-9">
						<textarea class="form-control" name="Note" readonly>@Model.Note</textarea>
					</div>
				</div>

				<!-- Trạng thái -->
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("Status")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="Status" value="@Model.Status" readonly>
					</div>
				</div>
				<label class="col-md-3 col-form-label">@L("TableProductDetail")</label>
				<div class="table-responsive">
					@* <table id="StockTransactionsEditExportTable" class="table table-striped table-bordered"> *@
						<thead>
							<tr>
								<th>@L("Code")</th> 
								<th>@L("Name")</th>
								<th>@L("Quanity")</th>
								<th>@L("UnitPrice")</th>
								<th>@L("TotalPrice")</th>
								<th>@L("StorageLocationCode")</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.DetailProduct)
							{
								<tr>
									 <td>@item.ProductCode</td> 
									<td>@item.ProductName</td>
									<td>@item.Quantity</td>
									<td>@item.UnitPrice</td>
									<td>@item.TotalPrice</td>
									<td>@item.StorageLocationCode</td>
								</tr>
							}
						</tbody>
					@* </table> *@
				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>