@using Abp.Authorization.Users
@using QLKho_NCKH.Web.Models.Common.Modals
@using QLKho_NCKH.Web.Models.Suppliers
@model SuppliersListViewModel
@{
	Layout = null;
}
<div class="modal fade" id="SupplierCreateModal" tabindex="-1" role="dialog" aria-labelledby="SupplierCreateModalLabel" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewSupplier")))
      <form name="SupplierCreateForm" role="form" class="form-horizontal">
        <div class="modal-body">
          <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="create-supplier-details">
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Name")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Name" required maxlength="256" placeholder="Nhập tên nhà cung cấp (VD: Công ty ABC)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Code")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Code" required maxlength="256" placeholder="Nhập mã nhà cung cấp (VD: NCC001)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Address")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Address" maxlength="500" placeholder="Nhập địa chỉ (VD: 123 Đường XYZ, Quận 1)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("PhoneNumber")</label>
                <div class="col-md-9">
                  <input type="tel" class="form-control" name="PhoneNumber" required maxlength="20" placeholder="Nhập số điện thoại (VD: 0912345678)">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("Email")</label>
                <div class="col-md-9">
                  <input type="email" class="form-control" name="Email" maxlength="256" placeholder="Nhập email (VD: contact@abc.com)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("TaxCode")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="TaxCode" maxlength="50" placeholder="Nhập mã số thuế (VD: 1234567890)">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("IsActive")</label>
                <div class="col-md-9">
                  <input type="checkbox" name="IsActive" value="true" checked />
                </div>
              </div>
            </div>
          </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
      </form>
		</div>
	</div>
</div>

<style>
  .has-error .form-control {
    border-color: #d9534f;
  }

  .error {
    color: #d9534f;
    font-size: 0.875em;
    margin-top: 0.25rem;
  }
</style>