@using QLKho_NCKH.Web.Models.Common.Modals
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(@L("SelectWarehouse")))

<div class="modal-body" >
  <form>
    <div class="input-group">
      <input id="WarehouseFilter" name="WarehouseFilter" class="form-control add-warehouse-filter-text"
             placeholder="@L("SearchWithWarehouseName")" type="text">
      <button class="btn btn-primary add-warehouse-filter-button" type="button">
        <i class="fa fa-search" aria-label="@L("Search")"></i>
      </button>
    </div>
  </form>
  <table id="addWarehouseModalTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable dtr-inline no-footer w-100">
    <thead>
      <tr>
        <th>@L("Selection")</th>
        <th>@L("Code")</th>
        <th>@L("Name")</th>
        <th>@L("Location")</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")