@using Abp.Authorization.Users
@using QLKho_NCKH.Web.Models.Common.Modals
@{
	Layout = null;
}
<div class="modal fade" id="WarehouseCreateModal" tabindex="-1" role="dialog" aria-labelledby="WarehouseCreateModalLabel" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
      @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewWarehouse")))
			<form name="upplierCreateForm" role="form" class="form-horizontal">
				<div class="modal-body">
					@* <ul class="nav nav-tabs" role="tablist"> *@
					@* 	<li class="nav-item"> *@
					@* 		<a class="nav-link active" data-toggle="tab" role="tab" href="#create-user-details">@L("SupplierDetails")</a> *@
					@* 	</li> *@
					@* 	<li class="nav-item"> *@
					@* 		<a class="nav-link" data-toggle="tab" role="tab" href="#create-user-roles">@L("UserRoles")</a> *@
					@* 	</li> *@
					@* </ul> *@
          <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="create-warehouse-details">

              <!-- Mã kho -->
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Code")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Code" required maxlength="50" />
                </div>
              </div>

              <!-- Tên kho -->
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Name")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Name" required maxlength="256" />
                </div>
              </div>

              <!-- Vị trí -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("Location")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Location" maxlength="500" />
                </div>
              </div>

              <!-- Diện tích -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("TotalArea")</label>
                <div class="col-md-9">
                  <input type="number" step="0.01" class="form-control" name="TotalArea" min="0" />
                </div>
              </div>

              <!-- Trạng thái hoạt động -->
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("IsActive")</label>
                <div class="col-md-9">
                  <input type="checkbox" name="IsActive" value="true" checked />
                </div>
              </div>

            </div>
          </div>

				@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
			</form>
		</div>
	</div>
</div>
