@using Abp.Authorization.Users
@using QLKho_NCKH.Web.Models.Common.Modals
@using QLKho_NCKH.Web.Models.Warehouses
@model WarehousesListViewModel

@{
	Layout = null;
}
<div class="modal fade" id="WarehouseCreateModal" tabindex="-1" role="dialog" aria-labelledby="WarehouseCreateModalLabel" data-backdrop="static">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewWarehouse")))
      <form name="upplierCreateForm" role="form" class="form-horizontal">
        <div class="modal-body">
          <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="create-warehouses-details">
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Code")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Code" required maxlength="256" placeholder="Nhập mã kho (VD: KHO001)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Name")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Name" required maxlength="256" placeholder="Nhập tên kho (VD: Kho chính)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("Location")</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="Location" required maxlength="256" placeholder="Nhập địa chỉ kho (VD: 123 Đường ABC, Quận 1)">
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label">@L("TotalArea")</label>
                <div class="col-md-9">
                  <input type="tel" class="form-control" name="TotalArea" required maxlength="20" placeholder="Nhập diện tích (VD: 500m2)">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">@L("IsActive")</label>
                <div class="col-md-9">
                  <input type="checkbox" name="IsActive" />
                </div>
              </div>
            </div>
          </div>
        </div>
        @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
      </form>
		</div>
	</div>
</div>

<style>
  .has-error .form-control {
    border-color: #d9534f;
  }

  .error {
    color: #d9534f;
    font-size: 0.875em;
    margin-top: 0.25rem;
  }
</style>
