@using Abp.Authorization.Users
@using QLKho_NCKH.Web.Models.Common.Modals
@using QLKho_NCKH.Web.Models.Warehouses

@model WarehouseEditViewModel

@{
	Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditWarehouse")))
<script src="~/view-resources/Views/Warehouses/_EditModal.js" asp-append-version="true"></script>

<form name="WarehouseEditForm" role="form" class="form-horizontal">
	<input type="hidden" name="Id" value="@Model.Id" />
	<div class="modal-body">
		<div class="tab-content mt-4">
			<div role="tabpanel" class="tab-pane container active" id="create-warehouse-details">

				<!-- Mã kho -->
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("Code")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="Code" value="@Model.Code" required maxlength="50" />
					</div>
				</div>

				<!-- Tên kho -->
				<div class="form-group row required">
					<label class="col-md-3 col-form-label">@L("Name")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="Name" value="@Model.Name" required maxlength="256" />
					</div>
				</div>

				<!-- Vị trí -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label">@L("Location")</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="Location" value="@Model.Location" maxlength="500" />
					</div>
				</div>

				<!-- Diện tích -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label">@L("TotalArea")</label>
					<div class="col-md-9">
						<input type="number" step="0.01" class="form-control" value="@Model.TotalArea" name="TotalArea" min="0" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label">@L("IsActive")</label>
					<div class="col-md-9">
						<input type="checkbox" name="IsActive" value="true" @(Model.IsActive ? "checked" : "") />
					</div>
				</div>
			</div>
		</div>
	</div>
	@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

