@* @using Abp.Web.Mvc.Extensions *@
@using QLKho_NCKH.Web.Models.Common.Modals

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("SelectInventoryItems")))

<div class="modal-body">
  <div class="form-group">
    <div class="input-group">
      <input type="text" id="InventoryItemFilter" class="form-control" placeholder="@L("SearchWithThreeDot")">
      <div class="input-group-append">
        <button class="btn btn-primary add-inventory-item-filter-button" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table id="addInventoryItemModalTable" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th width="50px">@L("Select")</th>
          <th>@L("ProductCode")</th>
          <th>@L("ProductName")</th>
          <th>@L("Quantity")</th>
          <th>@L("StorageLocation")</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<style>
  #addInventoryItemModalTable th {
    white-space: nowrap;
  }

  .table-responsive {
    max-height: 400px;
    overflow-y: auto;
  }
</style>